.blue_button{
    border: 1px solid #6C757D;
    
    background-size: contain;
    
}
.blue_button:hover {
    background-color: #4A67A4;
    color: white;
    fill:white;
    stroke: white;
    transform: scale(1.2);
}



