body {
    font-family: 'Georgia Regular';
}

.contacts {
    font-size: 1.3em;
    margin-top: 45px;
}

.contact_img {
    height: 41px;
    width: 41px;
}

.contacts_text {
    line-height: 1.3em;
}

.address_item {
    line-height: 1.3em;
}

.map {
    margin-bottom: 100px;
}

.map_img {
    width: 100%;
}

.contacts_offer {
    margin-top: 32px;
}