.event_img {
  height: 17rem;
  width: 15rem;
  float: left;
  margin: 10% 0 0 0;
}

.btn-orange {
  background-color: #FD7F06;
  color: white;
}

.btn-orange:hover {
  background-color: #f8a251;
  color: #fff;
}

.btn-orange:active {
  outline: none;
  outline-offset: 0;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-dark:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-outline-dark:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(60, 120, 231, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(60, 120, 231, 0.25);
}

body {
  font-family: 'Georgia Regular';
}

.btn-orange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FD7F06;
  color: #fff;
  width: 100%;
  font-family: "Georgia Regular";
  font-weight: bold;
  font-size: 1.05em;
  height: 100%;
}

.btn-orange:hover {
  background-color: #f8a251;
  color: #fff;
}

/*Info-block*/
.info__tittle {
  font-family: "Georgia Regular";
  font-size: 3em;
  font-weight: bold;
  color: #fff;
  line-height: 1.5em;
  padding: 10% 3%;
  text-shadow: 1px 1px 2px black;
}

.info__button-block {
  padding-bottom: 12%;
  font-size: 1.5em;
}

/*News-block*/
.news__slide_img {
  -o-object-fit: cover;
     object-fit: cover;
  margin: 3% 0;
  height: 33.125rem;
  opacity: 0.6;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 100;
  opacity: 1;
}

.previous_arrow,
.next_arrow {
  z-index: 20;
  min-width: 10%;
  max-width: 25%;
}

.previous_arrow:hover {
  opacity: 0.3;
}

.next_arrow:hover {
  opacity: 0.3;
}

.news-ci {
  -webkit-transition: -webkit-transform 2s ease-in-out;
  transition: -webkit-transform 2s ease-in-out;
  transition: transform 2s ease-in-out;
  transition: transform 2s ease-in-out, -webkit-transform 2s ease-in-out;
}

.news__c-caption {
  text-align: left;
  padding-left: 3%;
  padding-right: 3%;
  width: 75%;
  height: 80%;
  margin-bottom: 3%;
}

.carousel-data {
  border: 1px solid #fff;
  border-radius: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5% 3% 1%;
  font-size: 1.5em;
  margin-bottom: calc(3% + 2vw);
  text-shadow: 1px 1px 2px black;
}

.news__c-caption p {
  font-size: 1.5em;
  text-shadow: 1px 1px 2px black;
}

.news__c-caption h5 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-bottom: calc(3% + 2vw);
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

.news__button {
  min-width: 45%;
  width: 45%;
  padding: 1.5%;
  height: 4rem;
  font-size: 1.5em;
}

/*Courses-block*/
.courses__tittle-block {
  height: 100%;
}

.courses__tittle {
  font-size: 2.5em;
  font-weight: 700;
}

.card-body {
  padding: 5% 0 0 0;
}

.courses_button_block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  padding: 3% 0 5% 0;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.courses-block__button {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  padding: 3% 0 0 0;
  width: 100%;
}

.courses-block__button .btn_button {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  grid-row: 1;
  width: 70%;
  border-radius: 0.25rem 0 0.25rem 0.25rem;
  font-size: 1em;
  line-height: 3rem;
}

.courses-block__button .btn-courses {
  width: 100%;
  border-radius: 0.25rem 0 0.25rem 0.25rem;
  font-size: 1.05em;
  line-height: 3rem;
}

.courses-block__button .btn-fastview {
  width: 100%;
  height: 100%;
  font-size: 1em;
  font-weight: 700;
  color: #000;
  padding: 0 2%;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.courses-block__button .btn-fastview:hover {
  color: #fff;
  background-color: #25262B;
  border-radius: 0 0.25rem 0.25rem 0.25rem;
}

.courses__button-view {
  font-size: 1.5em;
}

.courses__button-view:hover {
  background-color: #4A67A4;
  color: #fff;
}

.courses__btn-group {
  width: 30%;
}

.svg-arrow {
  width: 50%;
}

.courses__button-prev {
  width: 50%;
  padding: 5%;
}

.courses__button-next {
  width: 50%;
  padding: 5%;
}

.courses__button-next:hover {
  background-color: #4A67A4;
  fill: #fff;
}

.courses__button-prev:hover {
  background-color: #4A67A4;
  fill: #fff;
}

.courses {
  padding-bottom: 5%;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .info__button-block {
    font-size: 1.25em;
  }
  .carousel-data {
    font-size: 1.25em;
    margin-bottom: calc(3% + 2.5vw);
  }
  .news__c-caption p {
    font-size: 1.25em;
  }
  .news__c-caption h5 {
    font-size: 2.5em;
    margin-bottom: calc(3% + 2.5vw);
  }
  .news__button {
    width: 60%;
    height: 3.2rem;
    font-size: 1.25em;
  }
  .previous_arrow,
  .next_arrow {
    z-index: 20;
    min-width: 20%;
    max-width: 30%;
  }
  .courses__tittle {
    font-size: 2em;
  }
  .courses-block__button .btn-courses {
    font-size: 1.03em;
    line-height: 3rem;
  }
  .courses-block__button .btn-fastview {
    font-size: 1em;
    text-align: center;
  }
  .modal__btn {
    font-size: 2em;
  }
}

.courses__button-view {
  font-size: 1.25em;
}

@media screen and (max-width: 767px) and (min-width: 576px) {
  .info__tittle {
    font-size: 2.5em;
  }
  .info__button-block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 33.333% 33.333% 33.333%;
        grid-template-rows: 33.333% 33.333% 33.333%;
  }
  .carousel-data {
    font-size: 1em;
    margin-bottom: calc(5% + 5vw);
  }
  .news__c-caption p {
    font-size: 1em;
  }
  .news__c-caption h5 {
    font-size: 2em;
    margin-bottom: calc(5% + 3vw);
  }
  .news__button {
    width: 60%;
    height: 3.2rem;
    font-size: 1.25em;
  }
  .news__c-caption {
    margin-bottom: 10%;
  }
  .previous_arrow,
  .next_arrow {
    z-index: 20;
    min-width: 25%;
    max-width: 35%;
  }
  .courses__tittle {
    text-align: center;
    margin-bottom: 7%;
  }
  .btn-toolbar {
    text-align: center;
  }
  .courses__btn-group {
    text-align: center;
    width: 25%;
  }
  .courses-block__button .btn-courses {
    font-size: 1.05em;
  }
  .courses-block__button .btn-fastview {
    font-size: 0.9em;
    text-align: center;
  }
  .modal__btn {
    font-size: 1.75em;
  }
}

@media screen and (max-width: 575px) and (min-width: 320px) {
  .info__tittle {
    font-size: calc(1rem + 3.3vw);
  }
  .info__button-block {
    font-size: 1.25em;
  }
  /*courses-block-media*/
  .courses__tittle {
    text-align: center;
    font-size: 1.85em;
    font-weight: 700;
    margin-bottom: 7%;
  }
  .courses-block__button .btn-courses {
    width: 100%;
    padding: 2.5% 0;
    font-size: 1em;
    border-radius: 0.25rem 0 0.25rem 0.25rem;
  }
  .courses-block__button .btn-fastview {
    font-size: 0.85em;
  }
  .previous_arrow,
  .next_arrow {
    display: none;
  }
  .news {
    height: 100%;
    background-color: #fff;
  }
  .news__c-caption {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 40% auto;
    margin: 5% 0 5% -3%;
    margin-top: 5%;
    margin-bottom: 10%;
  }
  .carousel-data {
    width: 100%;
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 0.5% 3% 1%;
    font-size: 1.25em;
    margin-top: 3%;
  }
  .news__c-caption p {
    font-size: 1.25em;
    margin-top: 5%;
    margin-bottom: 0;
  }
  .news__c-caption h5 {
    font-size: calc(1rem + 4vw);
  }
  .news__button {
    margin-top: 2%;
    min-width: 100%;
    padding: 1.5%;
  }
}

.modal-subtittle {
  font-size: 1.5em;
}

.modal-tittle {
  font-size: 2.5em;
}

.specification {
  font-size: 1.25em;
  line-height: 2rem;
}

.modal__btn {
  font-size: 1.25em;
}

.review__row {
  padding-bottom: 8%;
}

.blue_button {
  border: 1px solid #6C757D;
  background-size: contain;
}

.blue_button:hover {
  background-color: #4A67A4;
  color: white;
  fill: white;
  stroke: white;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@font-face {
  font-family: 'Georgia Regular';
  src: url("/assets/fonts/georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia Bold';
  src: url("/assets/fonts/georgiab.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #FFFFFF;
  font-family: 'Georgia Regular';
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

input:focus::-moz-placeholder {
  opacity: 0;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
}

input:focus:-moz-placeholder {
  opacity: 0;
}

header {
  background-color: #FFF;
}

header .header__info .logo-text {
  font-size: 1.1em;
}

header .header__info .logo-text-mobile {
  font-size: 1em;
  color: #000;
  font-family: 'Georgia bold';
}

header .header__info .phone {
  color: #4A67A4;
  font-family: 'Georgia bold';
}

@media screen and (max-width: 989px) {
  header .header__info .phone {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 990px) and (max-width: 1199px) {
  header .header__info .phone {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 1200px) {
  header .header__info .phone {
    font-size: 1.6em;
  }
}

header .header__nav {
  color: #000;
}

@media screen and (min-width: 768px) {
  header .header__nav {
    border-top: 2px solid #00000037;
  }
}

@media screen and (min-width: 768px) and (max-width: 989px) {
  header .header__nav {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 990px) and (max-width: 1199px) {
  header .header__nav {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 1200px) {
  header .header__nav {
    font-size: 1.5em;
  }
}

header .header__nav .nav-link {
  color: #000;
}

header .header__nav .nav-link:hover {
  color: #FD7F06;
}

header .header__nav.bordered-bottom {
  border-bottom: 2px solid #00000037;
}

header .header__nav .active-item {
  border-bottom: 3px solid #FD7F06;
}

.info {
  background-color: #DEE9F0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(/assets/images/info_back.jpg) 0 0/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/info_back.jpg) 0 0/cover no-repeat;
}

.news {
  background-color: #F3F7F9;
}

.courses {
  background-color: #FFF;
}

.events {
  background-color: #FFF;
}

.review {
  background-color: #F3F7F9;
}

footer {
  background-color: #25262B;
  color: #FFF;
}

footer .text20 {
  font-size: 1.2rem;
}

footer h3 {
  font-size: 1.8rem;
}

footer .btn-orange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FD7F06;
  color: #fff;
  width: 100%;
  font-family: "Georgia Regular";
  font-weight: bold;
  font-size: 1.05em;
  height: 100%;
  border-color: #FD7F06;
  width: 80%;
  font-size: 1.2rem;
}

footer .btn-orange:hover {
  background: #FD7F06;
  border-color: #FD7F06;
}

.footer__link {
  padding-left: 1vw;
  text-decoration: none;
  color: #FFF;
}

.footer__link:hover {
  text-decoration: none;
  color: #FD7F06;
}

.icon-vk {
  fill: white;
  width: 46px;
  height: 46px;
}

.icon-vk:hover {
  fill: #FD7F06;
}

.toggle {
  z-index: 1;
  display: block;
  width: 100%;
}

.toggle a {
  text-decoration: none;
}

.toggle .hidden_checkbox {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  opacity: 0;
  z-index: 12;
}

.toggle .hidden_checkbox:checked ~ .burger .burger_line:nth-child(2) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.toggle .hidden_checkbox:checked ~ .burger .burger_line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(2px, 7px);
          transform: rotate(45deg) translate(2px, 7px);
  background: #FFF;
}

.toggle .hidden_checkbox:checked ~ .burger .burger_line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(1px, -6px);
          transform: rotate(-45deg) translate(1px, -6px);
  background: #FFF;
}

.toggle .hidden_checkbox:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

.toggle .burger {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 20px;
  height: 20px;
}

.toggle .burger .burger_line {
  height: 2px;
  position: relative;
  background-color: #000;
  border-radius: 1px;
  z-index: 12;
  opacity: 1;
  -webkit-transform: rotate(0deg) scale(1, 1);
          transform: rotate(0deg) scale(1, 1);
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.menu {
  z-index: 11;
  position: absolute;
  top: 0;
  left: -1px;
  width: 50%;
  height: 100vh;
  padding-top: 3em;
  background: #25262B;
  list-style-type: none;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  color: #FFF;
}

.menu__item {
  color: #FFF;
  font-family: 'Georgia Bold';
  font-size: 18px;
}

@media screen and (min-width: 992px) {
  .mobile {
    display: none;
  }
  .tablet {
    display: none;
  }
}

@media screen and (max-width: 991px) and (min-width: 811px) {
  .no-mobile {
    display: none;
  }
  .mobile {
    display: none;
  }
  footer {
    font-size: small;
  }
  footer .text20 {
    font-size: 1.2rem;
  }
  footer h3 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 810px) {
  .tablet {
    display: none;
  }
  .no-mobile {
    display: none;
  }
  footer .text20 {
    font-size: calc(14px + 2*(100vw / 1440));
  }
  footer h3 {
    font-size: calc(20px + 10*(100vw / 1440));
  }
}

.about {
  padding-top: 45px;
}

.about_title {
  margin-bottom: 40px;
}

.about_block {
  margin-bottom: 10px;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

.about_subblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
}

.about_block_end {
  padding-bottom: 100px;
}

.title {
  font-family: 'Georgia Regular';
  font-weight: 700;
  font-size: 3rem;
  line-height: 120%;
}

.title2 {
  font-family: 'Georgia Regular';
  font-weight: 700;
  font-size: 2, 5rem;
}

.blue_title {
  font-family: 'Georgia Regular';
  font-weight: 700;
  font-size: 1.25rem;
  color: #4A67A4;
}

.text {
  padding-top: 25px;
  font-family: 'Georgia Regular';
  font-size: 1rem;
}

.bold {
  font-weight: 700;
}

.table-box {
  max-width: 500px;
}

table {
  width: 100%;
}

table,
tr,
td,
th {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

@media screen and (min-width: 770px) and (max-width: 992px) {
  .table_box {
    max-width: 500px;
    overflow-x: scroll;
  }
  .title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 769px) {
  .table_box {
    max-width: 400px;
    overflow-x: scroll;
  }
  .title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 401px) and (max-width: 576px) {
  .table_box {
    max-width: 350px;
    overflow-x: scroll;
  }
  .blue_title {
    padding-right: 2vw;
  }
  .title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
  .table_box {
    max-width: 250px;
    overflow-x: scroll;
  }
  .title {
    font-size: 2.5rem;
  }
}

.more_button {
  display: inline-block;
  height: 32px;
  border: none;
  background-color: inherit;
}

#more,
#more2,
#more3,
#more4,
#more5,
#more6,
#more7,
#more8,
#more9,
#more10 {
  display: none;
}

.strelka-left,
.strelka-right {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.strelka-left path,
.strelka-right path {
  fill: black;
  -webkit-transition: fill 0.5s ease-out;
  transition: fill 0.5s ease-out;
}

.strelka-left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.strelka-left:hover path,
.strelka-right:hover path {
  fill: white;
}

.card__block-background {
  background-color: #F3F7F9;
}

body {
  font-family: 'Georgia Regular';
  font-style: normal;
}

.topic__name {
  font-weight: 700;
  font-size: 2.5em;
  color: #000;
  line-height: 130%;
  padding-top: 45px;
  padding-bottom: 30px;
}

#retraining__courses {
  margin-bottom: 4rem;
}

.card__name {
  font-weight: 400;
  font-size: 1em;
  color: #999;
  line-height: 120%;
}

.card__description {
  font-weight: 400;
  font-size: 1.2em;
  color: #000;
  line-height: 150%;
  padding-right: 1rem;
}

.card__links-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin-top: 2rem;
}

.card__links-container .card__link {
  font-weight: 600;
  font-size: 1em;
  color: #000;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.card__links-container .card__link:hover {
  color: #FFF;
  background-color: #FD7F06;
  border-radius: 0px 5px 5px 5px;
}

.card__links-container .card__button {
  font-weight: 600;
  font-size: 1.05em;
  color: #FFF;
  line-height: 3rem;
  background-color: #25262B;
  border-top-right-radius: 0;
}

.card__links-container .btn-dark:hover {
  background-color: #505157;
}

.btn-dark:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.card__footer-update {
  background-color: #FFF;
  border: none;
}

@media (max-width: 576px) {
  body {
    background-color: #FFF;
  }
}

@media (max-width: 766px) {
  .topic__name {
    font-weight: 700;
    font-size: 2em;
  }
  .card__name {
    font-weight: 400;
    font-size: 1em;
    color: #25262B;
    line-height: 120%;
  }
  .card__link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 992px) {
  .card__tablet {
    width: inherit;
  }
}

@media print {
  #refresher__courses img,
  #retraining__courses img {
    display: none;
  }
}

.sidenav {
  height: 100%;
  width: 60vw;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 45px;
  padding-bottom: 100px;
}

.sidenav_title {
  font-size: 1.5em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 14px;
}

.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.7);
  display: block;
  border: none;
  background: none;
  width: 73%;
  text-align: left;
  cursor: pointer;
  outline: invert;
}

.sidenav a:hover,
.dropdown-btn:hover,
.sidenav a:focus,
.dropdown-btn:focus {
  color: #4a67a4;
}

.dropdown-btn:focus {
  outline: none;
}

.btn-dark:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-dark:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (min-width: 768px) {
  .sidenav {
    position: -webkit-sticky;
    position: sticky;
  }
}

@media screen and (max-width: 768px) {
  .sidenav {
    padding-bottom: 20px;
  }
  .mobile_center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sidenav a,
  .dropdown-btn {
    width: 100%;
    padding: 6px 8px 6px 0px;
  }
}

.main {
  margin-left: 200px;
  font-size: 20px;
  padding: 10px 10px;
}

.dropdown-container {
  display: none;
  padding-left: 50px;
}

.dropdown-btn:hover > .dropdown-menu {
  display: block;
}

@font-face {
  font-family: 'Georgia Regular';
  src: url("/assets/fonts/georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia Bold';
  src: url("/assets/fonts/georgiab.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.review .carousel-item {
  padding: 16px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
}

.review_name-reviewer {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.review_name-program {
  margin-top: 7px;
  margin-bottom: 16px;
  font-size: 1.1em;
  font-weight: 400;
}

.review_text-review {
  font-weight: 400;
  font-size: 1.2em;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.7);
}

.review_date {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-align: right;
  color: rgba(0, 0, 0, 0.5);
}

.review_status-reviewer {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}

.topic__name {
  font-family: 'Georgia Regular';
}

.events__card-body {
  padding: 2%;
}

.events__card-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  font-size: 1.25em;
}

.events__img {
  width: 100%;
  border: 0.1rem solid #ffffff;
}

.events-page__btn-dark {
  width: 60%;
  margin: 3% 0;
  font-size: 1.05em;
  font-weight: bold;
}

.events-page__btn-dark:hover {
  background-color: rgba(37, 38, 43, 0.75);
}

.events__body-tittle {
  font-size: 1.4em;
  font-weight: bold;
  font-family: 'Georgia Regular';
}

.events__date {
  font-size: 1.125em;
}

.sidenav {
  height: 100%;
  width: 60vw;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 45px;
  padding-bottom: 100px;
}

.sidenav_title {
  font-size: 1.5em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 14px;
}

.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.7);
  display: block;
  border: none;
  background: none;
  width: 73%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav a:hover,
.dropdown-btn:hover {
  color: #4a67a4;
}

.dropdown-btn:focus {
  outline: none;
}

.btn-dark:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-dark:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (min-width: 768px) {
  .sidenav {
    position: -webkit-sticky;
    position: sticky;
  }
  .events__btn-dark {
    width: 60%;
    margin: 3% auto;
    height: auto;
  }
}

@media screen and (max-width: 991px) {
  .events__img {
    width: 100%;
  }
  .events__card-text {
    min-height: 20%;
  }
  .events__btn-dark {
    width: 50%;
    margin: 3% auto;
    height: auto;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .sidenav {
    padding-bottom: 20px;
  }
  .mobile_center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sidenav a,
  .dropdown-btn {
    width: 100%;
    padding: 6px 8px 6px 0px;
  }
}

.reviews {
  background: #F3F7F9;
  padding-bottom: 70px;
}

.reviews__title {
  margin: 45px 0 78px;
  font-size: 3em;
}

.reviews__title {
  font-family: 'Georgia Regular';
  font-weight: 700;
  margin: 45px 0 40px;
}

.reviews__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 255px;
  margin-bottom: 30px;
  padding-right: 1rem;
}

.reviews__card-images {
  display: block;
  width: 100%;
  margin-right: 25px;
  max-width: 90px;
  min-height: 90px;
  border-radius: 100%;
  background: url(/assets/icon/review_icon.svg) 50% no-repeat;
  background-color: #25262B;
}

.reviews__card-info {
  width: 320px;
}

.reviews__card-status {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 120%;
  color: rgba(0, 0, 0, 0.5);
}

.reviews__card-name {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 120%;
  margin: 20px 0 20px;
  color: #000;
}

.reviews__card-name-program {
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  color: #000;
}

.reviews__card-text {
  margin-top: 3px;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 576px) {
  .reviews__title {
    text-align: center;
    margin: 10px;
    font-size: 2.5em;
  }
  .reviews__card {
    width: 85vw;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px;
  }
  .reviews__card-images {
    margin: 10px;
  }
}

@media (min-width: 1920px) {
  .reviews__card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

body {
  font-family: 'Georgia Regular';
}

.contacts {
  font-size: 1.3em;
  margin-top: 45px;
}

.contact_img {
  height: 41px;
  width: 41px;
}

.contacts_text {
  line-height: 1.3em;
}

.address_item {
  line-height: 1.3em;
}

.map {
  margin-bottom: 100px;
}

.map_img {
  width: 100%;
}

.contacts_offer {
  margin-top: 32px;
}
/*# sourceMappingURL=index.css.map */