.partners {
    margin-top: 45px;
    margin-bottom: 100px;
    font-size: 1.3em;
}

.title__partners {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 2.5rem;
}

.partners__card {
    background-color: #fd7d069e;
    border-radius: 20px;
}

.text__card {
    font-size: 1.8rem;
}
.bullet {
    margin-left: 0;
    list-style: none;
    counter-reset: li;
    }
    .bullet li {
    position: relative;
    margin-bottom: 1.5em;
    border: 3px solid #FD7F06;
    padding: 0.6em;
    border-radius: 4px;
    background: #FEFEFE;
    color: #231F20;
    font-family: "Georgia";
    }
    .bullet li:before {
    position: absolute;
    top: -0.7em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    font-size: 1rem;
    font-weight: bold;
    color: #4A67A4;
    background: #FEFEFE;
    border-radius: 50%;
    counter-increment: li;
    content: counter(li);
    }

@media (max-width: 768px) {
    .title__partners {
        font-size: 2rem;
    }

    .text__card {
        font-size: 1.3rem;
    }
}